<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8">
		<title>Mtab</title>

		<link rel="stylesheet" type="text/css" href="css/lib/bootstrap.min.css">
		<!-- <link rel="stylesheet" type="text/css" href="css/lib/bootstrap-flatly.css"> -->
		<style>
			/*.logo{
				width: 100px;
				height: 100px;
				vertical-align:middle;
			}
			.tab-card{
				margin-bottom: 10px;
				box-shadow: 0 0 0;
				border-radius: 1px;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
			*/
			.tab-card .close{
				display: none;
			}
			.tab-card:hover .close{
				display: block;
			}
			a:hover{
				text-decoration:none;
			}
		</style>
	</head>
	<!-- <body>
		<div class="container-fluid">
		  <button type="button" class="btn btn-primary">Primary</button>
		</div>

	</body> -->
	<body style="background:#F7F9F9;" ng-app="TabCard">
		<div class="container" >
		  <div class="page-header" ng-controller="consoleController">
		    <div class="btn-group">
		          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">按时间排序收藏标签页 <span class="caret"></span></button>
		          <ul class="dropdown-menu" role="menu">
		            <li><a href="#/showtabbydate">按时间排序收藏标签页</a></li>
		            <li><a href="#" >按名称排序收藏标签页</a></li>
		          </ul>
		        </div>
		    <a href="#/activingtabs" class="btn btn-info">当前所有标签页</a>
		    <a href="#" class="btn btn-info" ng-click="removeAll()">删除所有</a>
		    <a href="#" class="btn btn-default" style="float:right">Default</a>
		  </div>

<div ng-view>
</div>
</div>

			<!-- <div ng-repeat="tab in tabs track by $index">
			<div class="panel panel-default tab-card">
			  <div class="panel-body" style="padding:10px;">
			  	<div class="row">

			  		<div class="col-md-12" style="overflow:hidden;text-overflow:ellipsis;white-space:nowrap;">
			  			<h5><img src="{{tab['tabInfo'].icon}}" style="vertical-align:middle;width:30px;margin-right:10px;"> <a href="{{tab['tabInfo'].url}}" target="_blank">{{tab['tabInfo'].title}}</a></h5>
			    		<p class="text-muted">2016-06-15 <a href=""> 复制链接 </a>|<a> 打开并删除 </a></p>
							<button type="button" class="close" data-dismiss="alert" ng-click="removeTab(tab)">&times;</button>
			  		</div>
			  	</div>
			    </div>
			  </div>
			</div> -->


		</div>
		<script type="text/javascript" src="js/lib/jquery-3.0.0.min.js"></script>
		<script type="text/javascript" src="js/lib/angular.min.js"></script>
		<script type="text/javascript" src="js/lib/angular-route.js"></script>
		<script type="text/javascript" src="js/lib/angular-resource.min.js"></script>
		<script type="text/javascript" src="js/lib/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/showalltab.js"></script>
		<script type="text/javascript" src="js/storageService.js"></script>
		<script type="text/javascript" src="js/index.js"></script>



	</body>
</html>
